{% extends "base.html" %}
{% block titulo %} Inicio de sesion {% endblock titulo %}

{% block contenido %}
<div style="margin-top: 200px; margin-bottom: 300px;">
    {% if form.errors %}
        <p style="text-align: center;">usuario o contraseña incorrectos</p>
    {% else %}
        <p style="text-align: center;">Inicie sesion</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="{{ form.username.id_for_label }}">Usuario</label>
          {{ form.username }}
        </div>
        <div class="form-group mb-3">
          <label for="{{ form.password.id_for_label }}">Contraseña</label>
          {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-outline-light">Ingresar</button>
    </form>
</div>
{% endblock contenido %}